.contact{
    padding: 10px 100px;  
}

.back-btn1{
    width: 110px;
    background-color: rgb(234, 232, 232);
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin-bottom: 10px;
}

.back-btn1:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(209, 207, 207) ;
}

.contact-page{
    background-color: rgb(255, 245, 230);
    margin-top: 8px;
    border-radius: 4px;
    padding: 30px 0px 0px 0px;
}
h4{
    text-align: center;
    font-size: 59px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lienhe{
    text-align: center;
    margin-top: 7px;
    color: rgb(87, 87, 87);
}

.ngang{
    border-bottom: 1px solid rgb(63, 63, 63, 0.1);
    margin-top: 18px;
}

.lienhe1{
    padding: 10px;
}
 h5{
    font-size: 38px;
    color: blue;
    margin-left: 20px;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.b {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 22px;
    transition: all 0.25s ease;
}

.b p{
    cursor: pointer;
    width: 650px;
    padding: 30px ;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.b p:hover{
    border-color: #e53935;              /* viền đỏ */
    box-shadow: 0 10px 10px rgba(83, 61, 61, 0.35);
   
    transform: translateY(-6px); /* bật lên */
}

.contact-form input,
.contact-form textarea {
    width: 600px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 350px;
    padding: 15px;  
    margin-top: 10px; 
}

.contact-form button {
  width: 600px;
  padding: 12px;
  background: #e53935;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 350px;
}

.footer{
    margin-top: 40px;
    background-color: rgb(138, 112, 80);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
}