.intro-page{
    padding: 10px 100px; 
    background-color: white;
}

.hp-intro p{
    text-align: center;
    margin-top: 25px;
    font-size: 19px;
    color: rgb(98, 98, 98);
}

h7{
    font-size: 35px;
    font-weight: 700;
    color: rgb(94, 52, 52);
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: justify;
    margin-top: 10px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content1,
.content2,
.content3,
.content4,
.content5{
    background-color: rgb(235, 235, 235, 0.45);
    padding: 8px 12px;
    margin-top: 12px;
    border-radius: 8px;
}

.content3 ul li{
    list-style-type: none;
    margin-bottom: 18px;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 22px;
    font-weight: 700;
}

.content4 h3,
.content4 p{
    margin-left: 50px;
    font-size: 22px;
    margin-bottom: 18px;
}

.content4 p{
    margin-left: 100px;
}

.team-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    text-align: center;
    font-size: 17px;
    margin-top: 40px;

}
.team-list img {
    width: 190px;
    border-radius: 50%;
}

.team-card{
    text-align: center;
}

h8{
    font-weight: 700;
    font-size: 22px;
}

.content6{
    cursor: pointer;
}

.content6 p{
    text-align: center;
}
.content6:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(111, 111, 111, 0.45);
    background-color: rgb(150, 141, 141);

}

.content5 h7{
    margin-left: 500px;
}

