/* Wrapper toàn trang */
.lon {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* BACKGROUND */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* nằm sau nội dung */
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ảnh phủ kín màn hình */
}

.noi-dung2 h1,
.noi-dung2 p{  
  margin-top: 150px;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .noi-dung2 h1 {
    font-size: 28px;
  }

  .noi-dung2 p {
    font-size: 16px;
  }
}
