header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ea155c, #f44336, #ff9800);
    color: white;
    padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: black;
  font-size: 40px;
}

.logo img {
    width: 60px;
    height: 60px;
}

span{
    display: flex;
}

.a {
    font-weight: bold;
    color: white;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

nav a:hover {
    color: rgba(34, 25, 25, 0.9);
}

nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;  
}

.admin a{
    color: rgb(223, 26, 26);
    font-weight: bold;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);

}