.lon {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* nằm sau nội dung */
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ảnh phủ kín màn hình */
}

h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    border-bottom: 1px solid black;
    padding: 15px 125px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: aliceblue;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

iframe{
    margin-left: 250px;

}
@media (max-width: 768px) {
  .noi-dung h1 {
    font-size: 28px;
  }
}