header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ea155c, #f44336, #ff9800);
    color: white;
    padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: black;
  font-size: 40px;
}

.logo img {
    width: 60px;
    height: 60px;
}

span{
    display: flex;
}

.a {
    font-weight: bold;
    color: white;
}

nav a {
  margin-left: 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.9);
}