.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 20px;
    background-color: #f5f5f5;
    background-image: url('../assets/nen.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 636px;
}

.hero-text{
    width: 1536px;
    padding: 20px;
    border: 2px solid #878686;
    background-color: rgba(226, 243, 249, 0.7);
    margin-bottom: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
}

.subtitle {
    font-size: 24px;
    margin-bottom: 24px;
    color: #555;
}

.hero-text h1 {
    font-size: 90px;
    margin-bottom: 16px;
    color: #222;
}

.btn-main {
    background-color: rgba(255, 54, 54, 0.7);
    color: white;
    border: none;
    padding: 5px 32px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 630px; 
}

.btn-main:hover {
    background-color: rgba(255, 54, 54, 0.9);
}

.sos{
    background-color: red;
    color: white;
    padding: 15px 8px;
    border-radius: 10%;
    font-weight: bold;
    margin-left: 95px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}

.note {
  margin-top: 16px;
  color: #333;
  font-size: 20px;
}

.btn-floating{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 290px;
    height: 60px;
    background-color: rgb(255, 54, 54, 0.7);  
    color: white;
    border: none;
    font-size: 24px;
    gap: 10px;
    font-weight: bold;
    border-radius: 30px;

}

.sos1{
    background-color: red;
    color: white;
    padding: 12px 10px;
    border-radius: 10%;
    font-weight: bold;
    font-size: 14px;
    padding: 13px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
}

.btn-floating:hover {
    background-color: rgba(251, 83, 49, 0.9);
}