/* Profile Page */
.profile-page {
  min-height: 100vh;
  background-color: #f8e8e8;
  font-family: 'Inter', sans-serif;
}

.profile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(to right, #e63946, #f77f00);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: black;
  font-size: 40px;
}

.logo img {
    width: 60px;
    height: 60px;
}

span{
    display: flex;
}

.a {
    font-weight: bold;
    color: white;
}

.avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar svg {
  width: 32px;
  height: 32px;
  color: #000;
}

.avatar:hover {
  opacity: 0.8;
}

/* Profile Content */
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

/* Profile Avatar */
.profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  overflow: hidden;
  border: 4px solid #f5c6a5;
  margin: 40px 0px 20px 0px;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Profile Name */
.profile-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0 0 15px 0;
}

/* Profile Role */
.profile-role {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.role-text {
  color: #333;
}

.divider {
  color: #ccc;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: #90EE90;
  border-radius: 50%;
}

.join-text {
  color: #333;
}

/* Quick Stats */
.quick-stats {
  width: 100%;
  max-width: 700px;
  margin-bottom: 30px;
}

.stats-title {
  font-size: 32px;
  font-weight: normal;
  color: #333;
  margin: 0 0px 50px 0;
  text-align: left;
  /* padding-right: 20%; */
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #F8F8F8;
}

.stat-box.worktime-box {
  background-color: #E5F4FF;
  width: 180px;
}

.stat-number {
  font-size: 27px;
  font-weight: bold;
  color: #333;
  padding: 9px 38px ;
}

.stat-label {
  font-size: 14px;
  color: #666;
}

/* Phone Info */
.phone-info {
  font-size: 32px;
  color: #333;
  margin: 40px 0px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

/* Action Buttons */
.profile-actions {
  display: flex;
  gap: 40px;
}

.btn {
  padding: 6px 30px;
  font-size: 36px;
  font-weight: bold;
  border: none;
  /* border-radius: 8px; */
  cursor: pointer;
  transition: opacity 0.3s;
  min-width: 250px;
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

.btn-change-password {
  background-color: #02e302;
  color: white;
}

.btn-logout {
  background-color: #2803fb;
  color: white;
}