/* Profile Page */
.profile-page {
  min-height: 100vh;
  background-color: #f8e8e8;
  font-family: 'Inter', sans-serif;
}

/* Profile Content */
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

/* Profile Avatar */
.profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  overflow: hidden;
 
  margin: 40px 0px 20px 0px;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   border: 2px solid #f5c6a5;
}

/* Profile Name */
.profile-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0 0 15px 0;
}

/* Profile Role */
.profile-role {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.role-text {
  color: #333;
}

.divider {
  color: #ccc;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: #90EE90;
  border-radius: 50%;
}

.join-text {
  color: #333;
}

/* Quick Stats */
.quick-stats {
  width: 100%;
  max-width: 700px;
  margin-bottom: 30px;
}

.stats-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
 
  text-align: left;
  /* padding-right: 20%; */
}

.stats-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 100px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 12px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #F8F8F8;
}

.stat-box.worktime-box {
  background-color: #E5F4FF;
  width: 180px;
}

.stat-number {
  font-size: 27px;
  font-weight: bold;
  color: #333;
  padding: 9px 38px ;
}

.stat-label {
  font-size: 14px;
  color: #666;
}

/* Phone Info */
.phone-info {
  font-size: 22px;
  color: #333;
  width: 100%;
  max-width: 700px;
  text-align: left;
  font-weight: bold;
}

/* Action Buttons */
.profile-actions {
  display: flex;
  gap: 70px;
  margin-top: 30px;
}

.btn {
  padding: 5px 12px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  /* border-radius: 8px; */
  cursor: pointer;
  transition: opacity 0.3s;
  width: 200px;
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

.btn-change-password {
  background-color: #02e302;
  color: white;
}

.btn-logout {
  background-color: #2803fb;
  color: white;
}