header {
  width: 100%;
  height: 64px;
  display: flex;
  background: linear-gradient(to right, #ea155c, #f44336, #ff9800);
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: black;
}

.logo .a {
  margin-left: 2px;
  color: white;
}

.title {
  display: flex;
  margin-left: auto;
}


.title .nav-btn {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 23px;
  font-family: 'Times New Roman', Times, serif;

}

nav .nav-btn:hover {
  color: rgba(34, 25, 25, 0.9);
}
