.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* BODY LAYOUT */
.admin-body {
  display: flex;
  flex: 1;
  height: calc(100vh - 65px); /* Adjust height considering header */
}

/* SIDEBAR */
.admin-sidebar {
  width: 270px;
  background: #f3f3f3;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.admin-sidebar h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  margin-bottom: 12px;
  margin-left: 19px;
}

.admin-sidebar a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.admin-sidebar a:hover {
  color: #ff4d4d;
}

/* CONTENT */
.admin-content {
  flex: 1;
  background: #ffffff;
}

.admin-sidebar p:hover{
  color: #ff4d4d;
  cursor: pointer;
}