html,
body {
  height: 100%;
  margin: 0;
}

/* LOGIN CONTAINER */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: antiquewhite;
}

h2 {
  text-align: center;
  color: #ff9d34;
  margin-bottom: 40px;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  border-bottom: 1px solid rgba(25, 22, 21, 0.4);
}

.a2 {
  width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin-top: -40px;
}

.login p {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Times, serif;
  color: #c424d5;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

button:hover {
  background-color: #005edb;
}

/* SWITCH */
.switch {
  margin-top: 150px;
  font-size: 14px;
  text-align: center;
}

.login-container .contact-admin {
  color: #096fdb;
  cursor: pointer;
  margin-top: 50px;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.contact-admin:hover {
  text-decoration: underline;
}

/* ===== LOGIN TOAST (RIÊNG) ===== */
.login-toast {
  position: fixed;
  top: 80px;
  right: 20px;

  min-width: 250px;
  max-width: 340px;
  height: auto;

  padding: 14px 18px;
  border-radius: 10px;

  color: #fff;
  font-size: 14px;
  font-weight: 600;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  z-index: 9999;

  display: inline-block;
  animation: toastFade 0.25s ease-out;
}

.login-toast.success {
  background-color: #22c55e;
}

.login-toast.info {
  background-color: #0ea5e9;
}

.login-toast.error {
  background-color: #ef4444;
}

@keyframes toastFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.back-btn1 {
  position: fixed;
  /* ⭐ QUAN TRỌNG */
  top: 80px;
  /* dưới header một xíu */
  right: 60px;
  /* sát mé trái */
  z-index: 1000;

  background: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 8px 14px;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
}

.login {
  margin-top: -1px;
}

.footer1 {
  background-color: rgb(138, 112, 80);
  padding: 20px 30px;
  text-align: center;
  font-size: 20px;
  color: white;
  flex-shrink: 0;
}